body {
    background-color: hsla(0, 0%, 0%, 0.67);
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
}

.paper {
    background-color: white;
    width: 794px;
    min-height: 100vh;
    box-shadow: 12px 12px 20px hsl(0, 0, 10%);
}

.content {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.nameHeader {
    text-align: center;
    height: 55px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-family:Verdana, Tahoma, sans-serif;
}

.infoLinks{
    text-align: center;
    font-size: 18px;
}

.infoLinks p {
    margin: 3px;
}

.container .paper .content .infoLinks svg{
    cursor: pointer;
}

.container .paper .content .infoLinks svg:hover{
    transform: scale(1.15);
}

.container .paper .content .infoLinks a {
    text-decoration: none;
}

.container .paper .content .infoLinks a:hover {
    text-decoration: underline;
}

section h2 {
    margin-bottom: 2px;
    margin-top: 12px;
}

.qualifications {
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:Verdana, Tahoma, sans-serif;
}

.qualifications ul {
    margin: 3px;
}

.techQualifications {
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:Verdana, Tahoma, sans-serif;
}

.techQualifications p {
    margin: 8px;
}

.education {
    text-align: left;
    font-size: 12px;
    font-family:Verdana, Tahoma, sans-serif;
}

.education p {
    margin: 0px;
}

.experience {
    text-align: left;
    font-size: 12px;
    font-family:Verdana, Tahoma, sans-serif;
}

.experience p {
    margin: 0px;
}

.experience ul {
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.activities {
    text-align: left;
    font-size: 12px;
    font-family:Verdana, Tahoma, sans-serif;
}

.activities ul {
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.honorsAndAwards {
    text-align: left;
    font-size: 12px;
    font-family:Verdana, Tahoma, sans-serif;
}

.honorsAndAwards ul {
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.languages {
    text-align: left;
    font-size: 12px;
    font-family:Verdana, Tahoma, sans-serif;
}

.languages ul {
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    height: 2px;
    margin: 1px;
    background-color: black;
}

@media print {
    /* Adds a page break after honors and awards section */
    .honorsAndAwards {
        page-break-after: always;
    }

    .container {
        height: auto;
    }

    /* Avoid page break for these sections */
    .nameHeader, .infoLinks, .qualifications, .techQualifications, .education, .experience, .activities, .honorsAndAwards, .languages {
        page-break-inside: avoid;
    }

    /* Makes sure the line appears in print version */
    hr {
        border-top: solid 2px #000 !important;
        background-color: black !important;
    }

    /* Makes sure there is no page break after these sections creating a new page*/
    .honorsAndAwards, .languages {
        page-break-after: avoid;
    }
}